@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  font-size: 20px;
  color: white;
}